/* importamos una font de google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Protest Strike', sans-serif;
    font-size: 20px;
}

body {
    background-color: #47442375;
    min-width: 400px;
}

/* hacemos que el scroll sea mas suave*/

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 85px ;
}



/* empezamos con la seccion de la cabecera o header*/

.header {
    background-color: #030506;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
}



/* estilamos el logo */
.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

/* y aqui los nav links*/

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover,

.overlay a:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
}

.header .nav-links a:hover {
    color: #82817dd1;
}


.menu {
    display: none;
}

.header .btn button,
/* aqui el boton del menu*/
.header .menu button {
    margin-left: 20px;
    font-weight: 700;
    color: #272e32;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,

.header .menu button:hover {
    background-color: #e2f1f8;
    color: #82817dd1;
    transform: scale(1.1);
}



@media screen and (max-width: 800px) {

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }
}



/*hacemos nav para movil*/

.header a {
    text-decoration: none;
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(1, 5, 8, 0.95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus {
    color: #d4d41415;
}

.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}





/*Aqui comenzamos con la  introduccion */

.introduccion {
    padding: 20px;
    text-align: justify;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* ocultamos el contenido que desborde */
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.intro-contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}

.intro-text {
    flex: 1;
    padding-right: 20px;
}

.intro-imagen {
    max-width: 100%; /* ajustamos el tamaño máximo de la imagen */
    margin-bottom: 50px; /* el espacio inferior entre la imagen y el texto */
}

.intro-imagen img{
    max-width: 100%;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* estilamos el h2*/
.intro-text h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

/* estilamos el parrafo*/

.intro-text p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.introduccion h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.introduccion p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.introduccion:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}

.intro-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 4px solid #fff;
    /* Agrega un borde blanco alrededor de la imagen */
    transition: all 0.3s ease;
    /* Transición suave al hacer hover */
}

.intro-imagen img:hover {
    transform: scale(1.05);
    /* escalamos ligeramente la imagen al hacer hover */
    box-shadow: 0 4px 8px rgba(130, 79, 79, 0.2);
    /* aumentamos la sombra al hacer hover */
}

/* estilamos el boton*/

.introduccion .boton {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: rgb(232, 213, 213);
    border: 2px solid;
    padding: 10px;
    margin-top: 30px;
    border-radius: 25px;
    justify-content: center;
}

.introduccion .boton:hover {
    color: var(--background);
    background-color: transparent;
    transition: 0.4s;
}




/* Aqui emepezamos con el top 10  */

/* titulo top 10*/
.titulo-top10 {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-top10 h2 {
    font-size: 1.5em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

/* aqui la lista de coches*/

.lista-coches {
    max-width: 650px;  /* aqui ajustamos el tamaño de las tarjetas de los coches */
    margin: 20px auto;
    margin-bottom: 100px;
}

.coche {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.coche img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.coche h2 {
    font-size: 1.4em;
    margin-top: 15px;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
}

.coche p {
    font-size: 0.9em;
    color: #555;
}

.coche {
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.coche .coche-imagen {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.car:hover .coche-imagen {
    transform: scale(1.1);
}

.coche .coche-imagen img {
    width: 100%;
    height: auto;
    transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.coche:hover .coche-imagen img {
    transform: translateY(-10%);
}

.coche:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px) scale(1.02);
    /* Desplazamiento hacia arriba y ligero aumento de tamaño */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Sombras más grandes y oscuras */
}

.coche .coche-detalles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.coche:hover .coche-detalles {
    transform: translateY(0);
}

.coche-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.coche:hover .coche-overlay {
    opacity: 1;
}


/* hacemos el video y lo estilamos*/

.titulo-video {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-video h2 {
    font-size: 1.5em;
    color: #333;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.columna h1 {
    display: flex;
    justify-content: center;

}

.columna {
    text-align: center;
    /* hacemos que este en el centro */
    padding: 20px;
}

.video-contenedor {
    max-width: 560px;
    /* ancho máximo del video */
    margin: 0 auto;
    /* centramos el video */
}

.video-contenedor iframe {
    width: 100%;
    /* aseguramos que el video ocupe todo el espacio disponible */
    border-radius: 8px;
    /* los bordes redondeados */
}



/* hacemos una media query para moviles*/

@media screen and (max-width: 600px) {
    footer {
        font-size: 0.8em;
    }

}


/*  ******UNA PEQUEÑA ACLARACION:  Es que primero comence con el video y luego le meti el diesño de las tarjetas por eso esta asi ***/




/* aqui la seccion de los mejores diseños del top 10*/

/* Estilos para el título */
.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.titulo h2 {
    font-size: 1.5em;
    color: #333;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}


/* contenedor flex para las tarjetas */
.contenedor-tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* estilamos las tarjetas */
.tarjeta {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-5px);
}

/* imagen de la tarjeta  */
.tarjeta img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

/* contenido de la tarjeta */
.contenido-tarjeta {
    padding: 20px;
}

.contenido-tarjeta h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.contenido-tarjeta p {
    margin: 10px 0 0;
    font-size: 0.9em;
    color: #666;
}




/* aqui creamos el footer responsive*/
body {
    line-height: 1.5;
}

.contenedor {
    max-width: 1170px;
    margin: auto;
}

.fila {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color:#030506 ;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: gray;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

/*aqui estilamos para que se vean los iconos de las redes sociales */

.footer-col .links-redes a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .links-redes a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*lo hacemos responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}